.navbar {
    background-color: #f6f6f6;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between ;
    min-width: 100%;
    margin: 0;
}
.navbar .nav {
    gap: 30px;
}
.navbar  a {
    text-decoration: none;
    color: #000;
}


/* Estilos para teléfonos pequeños */
@media (width <= 480px) {
    .navbar .nav {
        gap: 10px;
    }
}