.footer {
    background-color: #f6f6f6;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

/* Estilos para teléfonos pequeños */
@media (width <= 480px) {
    footer {
        text-align: center;
    }
}