@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
html {
    font-size: 16px; /* 1rem = 16px */
}
body {
    background-color: #18181B;
    box-sizing: border-box;
    color: #eee;
    font-family: "Inter", sans-serif;
    font-size: 1rem; /* 16px por defecto */
    margin: 0;
    padding: 0;

    overflow-x: hidden; /* Elimina el scroll horizontal */
}
h1 {
    font-size: clamp(2rem, 5vw, 3rem); /* 32px - 48px */
    font-weight: 700;
}

h2 {
    font-size: clamp(1.5rem, 4vw, 2.5rem); /* 24px - 40px */
    font-weight: 600;
}
h3 {
    font-size: clamp(1.25rem, 3vw, 2rem); /* 20px - 32px */
    font-weight: 500;
}
h4 {
    font-family: "Inter", sans-serif;
    font-weight: 100;
    line-height: 35px;
}
  /* Párrafos */
p {
    font-size: 1rem; /* 16px */
    font-weight: 400;
    margin-bottom: 1rem;
}
/* Botones y enlaces */
button, a {
    font-size: 0.875rem; /* 14px */
    font-weight: 500;
    text-decoration: none;
}



/* Estilos responsivos */
@media (max-width: 768px) {
    html {
        font-size: 14px; /* Reduce el tamaño base en móviles */
    }
}

/* Estilos para teléfonos pequeños */
@media (width <= 480px) {
    .content-info-header {
        margin: 30px 0;
        text-align: center;
        align-items: center !important;
    }
}

