.time_line_dot {
    background-color: #888;
    min-width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 200px;
    height: 100px;
    object-fit: contain;
}

/* Sección de certificados */
.box_certificates {
    padding: 20px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    text-align: center;
}

.box_certificates .card {
    background-color: #f6f6f6;
    box-shadow: 0px 3px 12px 5px rgba(209, 209, 209, 0.64);
}

/* Imagen dentro de la tarjeta */
.box_certificates .card .card_img {
    background-color: #6d6d6d;
    width: 100%;  
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.box_certificates .card .card_img img {
    width: 150px;
    height: 100%;
    object-fit: contain; 
}

.logo_netzun {
    width: 75px;
    height: 100px;
    object-fit: contain;
}

/* Estilos para teléfonos pequeños */
@media (width <= 480px) {
    .time_line_item img {
        width: 100px !important;
        height: 100px !important;
    }
    .logo_netzun {
        width: 50px !important;
        height: 50px !important;
    }
    .box_certificates .card {
        /* height: 300px; */
        width: 230px !important;
    }
}